<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
</head>
<body>
    <header>
        <div style="overflow: hidden;">
            <a id="contact-header" href="">
                Zadzwoń: +48 123456789
            </a>

            @Html.Partial("_LoginPartial")
        </div>
        <a id="main-header-logo" href="@Url.Content("~/")">
            <img src="../Content/Images/jcpcars-logo-main.png" class="center" />
        </a>
    </header>

    <div>
        @RenderBody()
    </div>


    <footer>
        <nav>
            <ul>
                <li><a href="@Url.Action("StaticContent", "Home", new { viewname = "about" } )">O nas</a></li>
                <li><a href="@Url.Action("StaticContent", "Home", new { viewname = "kontakt" } )">Kontakt</a></li>
                <li><a href="@Url.Action("StaticContent", "Home", new { viewname = "regulamin" } )">Regulamin</a></li>
            </ul>
        </nav>
        <div id="footer-cd-logo">
            <img src="@Url.Content("/content/images/footer-cd.png")" />
        </div>

        <div id="footer-copyright">
            Copyright &copy; 2019 Jakub Gramburg
        </div>
    </footer>

    @RenderSection("ScriptsBottom", required: false)
</body>
</html>
