@model JCPCars.ViewModels.HomeViewModel
@using JCPCars.Infrastructure
@{
    ViewBag.Title = "JcpCars";
}



<div class="android-be-together-section mdl-typography--text-center" >
    <a name="top"></a>
    <div class="logo-font android-slogan">wynajmuj pojazdy</div>
    <div class="logo-font android-sub-slogan">i zarabiaj</div>
    <div class="logo-font android-create-character">
        <a href="@Url.Content("~/Manage/AddProduct")">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Dodaj swoje ogłoszenie!
            </button>
        </a>
    </div>

    <a href="#screens">
        <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            <i class="material-icons">expand_more</i>
        </button>
    </a>
</div>


<div class="android-screen-section mdl-typography--text-center">
    <a name="screens"></a>
    <div class="mdl-typography--display-1-color-contrast">Kategorie</div>
    <div class="android-screens">



        @foreach (var serie in Model.Series)
        {

            <div class="android-phone android-screen">
                <a class="android-image-link" href="@Url.Action("List", "Store", new { seriename = serie.Name.ToLower() })">
                    <img class="android-screen-image" src="../Content/Images/sedan-car-model.png">
                </a>
                <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="@Url.Action("List", "Store", new { seriename = serie.Name.ToLower() })">@serie.Name</a>
            </div>
        }

    </div>
</div>

@if (Request.IsAuthenticated)
{
    <div class="android-wear-section">
        <div class="android-wear-band">
            <div class="android-wear-band-text">
                <div class="mdl-typography--display-2 mdl-typography--font-thin">Chcesz wynająć swój pojazd?</div>
                <p class="mdl-typography--headline mdl-typography--font-thin">
                    Dodaj ogłoszenie, to nic nie kosztuje.
                </p>
                <p>
                    <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="@Url.Content("~/Manage/AddProduct")">
                        Dodaj ogłoszenie!&nbsp;<i class="material-icons">chevron_right</i>
                    </a>
                </p>
            </div>
        </div>
    </div>
}
else
{
    <div class="android-wear-section">
        <div class="android-wear-band">
            <div class="android-wear-band-text">
                <div class="mdl-typography--display-2 mdl-typography--font-thin">Chcesz wynająć swój pojazd?</div>
                <p class="mdl-typography--headline mdl-typography--font-thin">
                    Zarejestruj się i dodaj ogłoszenie, to nic nie kosztuje.
                </p>
                <p>
                    <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="@Url.Content("~/Account/Register")">
                        Dołącz do nas!&nbsp;<i class="material-icons">chevron_right</i>
                    </a>
                </p>
            </div>
        </div>
    </div>
}






<div class="android-more-section">
    <div class="android-section-title mdl-typography--display-1-color-contrast">Najnowsze ogłoszenia</div>
    <div class="android-card-container mdl-grid">

        @foreach (var newArrival in Model.NewArrivals)
        {

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                <a href="@Url.Action("Details", "Store", new { id = newArrival.CarId })">
                    <div class="mdl-card__media">
                        <img src="@Url.CarIconPath(newArrival.PictureFileName)">
                    </div>
                </a>
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">@newArrival.CarBrand @newArrival.CarModel</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">@newArrival.PricePer1h PLN /1h</span> <br />
                    <span class="mdl-typography--font-light mdl-typography--subhead">@newArrival.PricePer24h PLN /24h </span> <br />
                    <span class="mdl-typography--font-light mdl-typography--subhead">@newArrival.PricePer1m PLN /miesiąc</span> <br />

                </div>

            </div>

        }

    </div>
</div>



