@model JCPCars.Models.MessageViewModel
@{
    ViewBag.Title = "Skontaktuj się ze sprzedawcą";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    textarea {
        font-family: inherit;
        width: 650px;
        height: 100px;
    }

    .demo-card-wide.mdl-card {
        width: 512px;
    }


    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }
</style>
<div class="android-customized-section" style="padding-bottom:100px; width:auto">
    <div class="android-customized-section-text" style="width:512px">
        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast" style="text-align:center; padding-bottom:50px; width:512px">Wyślij wiadomość</div>


        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            @if (Model.ConfirmSuccess.HasValue && Model.ConfirmSuccess.Value)
            {
                <div style="text-align: center; margin: 50px;">
                    Wiadomość wysłana pomyślnie!
                </div>
            }
            else
            {
                using (@Html.BeginForm("Index", "Message", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div class="mdl-card__supporting-text">



                        @Html.AntiForgeryToken()

                        <div class="">
                            @Html.ValidationSummary()
                        </div>

                        @Html.HiddenFor(o => o.Message.MessageId)
                        @Html.HiddenFor(o => o.Message.Created)



                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            @Html.TextAreaFor(o => o.Message.Content, new { @class = "mdl-textfield__input" })
                            <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Message.Content, "Treść wiadomości:")</label>
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <input type="submit" value="Wyślij wiadomość" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" />
                    </div>
                }
            }
        </div>



    </div>
</div>
