@model JCPCars.Models.MessageViewModel
@{
    ViewBag.Title = "Skontaktuj się ze sprzedawcą";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>





<body>
    <!-- Main Container -->
    <div class="container mt-5 pt-3">
        <div class="row pt-4">
            <!-- Content -->
            <div>
                <section class="section pt-4">
                    <div class="row">
                        <style>
                            .demo-card-wide.mdl-card {
                                width: 100%;
                                margin-bottom: 50px;
                            }

                            .demo-card-wide > .mdl-card__title {
                                color: #000;
                            }

                            .demo-card-wide > .mdl-card__menu {
                                color: #fff;
                            }

                            .mdl-card__actions {
                                text-align: center;
                            }

                            .mdl-card__supporting-text {
                                width: 100%
                            }
                        </style>


                        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                            @if (Model.ConfirmSuccess.HasValue && Model.ConfirmSuccess.Value)
                            {
                                <div style="text-align: center; margin: 50px;">
                                    Wiadomość wysłana pomyślnie!
                                </div>
                            }

                            @using (@Html.BeginForm("Index", "Message", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {

                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Wyślij wiadomość do ogłoszenia </h2>
                                </div>
                                <div class="mdl-card__supporting-text">



                                    @Html.AntiForgeryToken()

                                    <div class="">
                                        @Html.ValidationSummary()
                                    </div>

                                    @Html.HiddenFor(o => o.Message.MessageId)
                                    @Html.HiddenFor(o => o.Message.Created)



                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.Message.Content, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Message.Content, "Treść wiadomości:")</label>
                                    </div>
                                    @*<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.DropDownListFor(m => m.Message.SerieId, new SelectList(Model.Series, "SerieId", "Name", Model.Series.First().SerieId), new { @class = "mdl-textfield__input" })
                                            <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Series, "Kategoria:")</label>

                                        </div>*@
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <input type="submit" value="Wyślij wiadomość" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" />
                                </div>
                            }
                        </div>

                    </div>
                </section>

            </div>
            <!-- /.Content -->

        </div>

    </div>
    <!-- /.Main Container -->
</body>
