@model JCPCars.Models.EditProductViewModel
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<hr />

<h2 class="manageHeader">Edycja produktu</h2>

<div>
    @if (Model.ConfirmSuccess.HasValue && Model.ConfirmSuccess.Value)
    {
        <div style="text-align: center; margin: 50px;">
            Pomyślnie wprowadzono zmiany!
        </div>
    }

    @using (@Html.BeginForm("AddProduct", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="error-summary-centered">
            @Html.ValidationSummary()
        </div>

        @Html.HiddenFor(o => o.Car.CarId)
        @Html.HiddenFor(o => o.Car.DateAdded)
        @Html.HiddenFor(o => o.Car.PictureFileName)

        <div style="text-align: center;">
            <table id="albumedit-address-table">
                <tr>
                    <td>@Html.LabelFor(o => o.Car.CarBrand, "Wykonawca:")</td>
                    <td>@Html.TextBoxFor(o => o.Car.CarBrand)</td>
                    <td>@Html.ValidationMessageFor(o => o.Car.CarBrand)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Car.CarModel, "Car:")</td>
                    <td>@Html.TextBoxFor(o => o.Car.CarModel)</td>
                    <td>@Html.ValidationMessageFor(o => o.Car.CarModel)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Car.Description, "Opis:")</td>
                    <td>@Html.TextBoxFor(o => o.Car.Description)</td>
                    <td>@Html.ValidationMessageFor(o => o.Car.Description)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Series, "Gatunek:")</td>
                    <td>@Html.DropDownListFor(m => m.Car.SerieId, new SelectList(Model.Series, "SerieId", "Name", Model.Series.First().SerieId))</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Car.Price, "Cena:")</td>
                    <td>@Html.TextBoxFor(o => o.Car.Price)</td>
                    <td>@Html.ValidationMessageFor(o => o.Car.Price)</td>
                </tr>

                @if (ViewBag.EditMode == null || !ViewBag.EditMode)
                {
                    <tr>
                        <td colspan="3">

                            <div class="upload">
                                <input type="file" name="file" />
                            </div>

                        </td>
                    </tr>
                }

                <tr>
                    <td style="text-align: left">
                        @if (ViewBag.EditMode)
                        {
                            if (Model.Car.IsHidden)
                            {
                                @* A bit dangerous - CSRF. Nested form.. Need to use form attr or JS *@
                                <a href="@Url.Action("UnhideProduct", "Manage", new { carId = Model.Car.CarId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Przywróć
                                </a>
                            }
                            else
                            {
                                @* A bit dangerous - CSRF. Nested form.. Need to use form attr or JS *@
                                <a href="@Url.Action("HideProduct", "Manage", new { carId = Model.Car.CarId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Usuń
                                </a>
                            }
                        }
                    </td>

                    <td style="text-align: right;">

                        <input type="submit" value="Zapisz" class="submitLink" style="height: 40px; margin-right: 0px; margin-top: 30px; font-weight: bold;" />

                    </td>
                    <td></td>

                </tr>
            </table>
        </div>
    }

</div>


