@model JCPCars.Models.EditProductViewModel
@{
    ViewBag.Title = "Dodaj nowe ogłoszenie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    textarea {
        font-family: inherit;
        width: 650px;
        height: 100px;
    }
</style>

<body>
    <!-- Main Container -->
    <div class="container mt-5 pt-3">
        <div class="row pt-4">
            <!-- Content -->
            <div>
                <section class="section pt-4">
                    <div class="row">
                        <style>
                            .demo-card-wide.mdl-card {
                                width: 100%;
                                margin-bottom: 50px;
                            }

                            .demo-card-wide > .mdl-card__title {
                                color: #000;
                            }

                            .demo-card-wide > .mdl-card__menu {
                                color: #fff;
                            }

                            .mdl-card__actions {
                                text-align: center;
                            }

                            .mdl-card__supporting-text {
                                width: 100%
                            }
                        </style>
                        @if (ViewBag.EditMode == true)
                        {
                            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast" style="padding-bottom:50px; width:512px">Edycja ogłoszenia</div>
                        }
                        else
                        {
                            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast" style="padding-bottom:50px; width:512px">Dodaj nowe ogłoszenie</div>

                        }
                        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                            @if (Model.ConfirmSuccess.HasValue && Model.ConfirmSuccess.Value)
                            {
                                <div style="text-align: center; margin: 50px;">
                                    Zmiany zostały zapisane!
                                </div>
                            }

                            @using (@Html.BeginForm("AddProduct", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {


                                <div class="mdl-card__supporting-text" style="text-align:center">
                                    @Html.AntiForgeryToken()
                                    <div class="">
                                        @Html.ValidationSummary()
                                    </div>

                                    @Html.HiddenFor(o => o.Car.CarId)
                                    @Html.HiddenFor(o => o.Car.DateAdded)
                                    @Html.HiddenFor(o => o.Car.PictureFileName)
                                    @Html.HiddenFor(o => o.Car.PictureFileName2)
                                    @Html.HiddenFor(o => o.Car.PictureFileName3)


                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.Car.CarBrand, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Car.CarBrand, "Marka:")</label>

                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.Car.CarModel, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Car.CarModel, "Model:")</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.DropDownListFor(m => m.Car.SerieId, new SelectList(Model.Series, "SerieId", "Name", Model.Series.First().SerieId), new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Series, "Kategoria:")</label>
                                    </div>

                                </div>
                                <div class="mdl-card__supporting-text mdl-card--border" style="text-align:center">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.Car.Fuel, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Car.Fuel, "Rodzaj paliwa:")</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.Car.Gearbox, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Car.Gearbox, "Rodzaj skrzyni biegów:")</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.Car.ProductionYear, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Car.ProductionYear, "Rok produkcji:")</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.Car.Power, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Car.Power, "Moc (KM):")</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.Car.Location, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Car.Location, "Lokalizacja")</label>
                                    </div>

                                </div>
                                <div class="mdl-card__supporting-text " style="text-align:center">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.Car.PricePer1h, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Car.PricePer1h, "Cena za godzinę:")</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.Car.PricePer24h, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Car.PricePer24h, "Cena za dobę:")</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.Car.PricePer1m, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Car.PricePer1m, "Cena za miesiąc:")</label>
                                    </div>

                                </div>

                                <div class="mdl-card__supporting-text" style="text-align:center">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextAreaFor(o => o.Car.Description, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.Car.Description, "Opis:")</label>
                                    </div>
                                </div>

                                <div class="mdl-card__supporting-text" style="text-align:center">
                                    @if (ViewBag.EditMode == null || !ViewBag.EditMode)
                                    {
                                        <input type="file" name="file" /><br /><br />
                                        <input type="file" name="file2" /><br /><br />
                                        <input type="file" name="file3" /><br /><br />

                                    }
                                </div>







                                <div class="mdl-card__actions mdl-card--border" style="margin-top:20px">

                                    @if (@User.IsInRole("Admin"))
                                    {
                                        if (Model.Car.IsHighlited)
                                        {
                                            <a href="@Url.Action("UnHighlightCar", "Manage", new { carId = Model.Car.CarId })" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                                Usuń promowanie
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("HighlightCar", "Manage", new { carId = Model.Car.CarId })" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                                Promuj ogłoszenie
                                            </a>
                                        }
                                    }

                                    @if (ViewBag.EditMode == true)
                                    {
                                        <a href="@Url.Action("Delete", "Manage", new { carId = Model.Car.CarId })" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="color:red">
                                            Usuń produkt
                                        </a>
                                    }

                                    <input type="submit" value="Zapisz zmiany" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" />
                                </div>

                            }
                        </div>

                    </div>
                </section>

            </div>
            <!-- /.Content -->

        </div>

    </div>
    <!-- /.Main Container -->
</body>
