@model IEnumerable<JCPCars.Models.Car>
@{
    if (@User.IsInRole("Admin"))
    {
        ViewBag.Title = "Zarządzaj ogłoszeniami";
    }
    else
    {
        ViewBag.Title = "Moje ogłoszenia";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .demo-card-wide.mdl-card {
        width: 100%;
        margin-bottom: 50px;
    }

    .demo-card-wide > .mdl-card__title {
        color: #000;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }

    .mdl-card__actions {
        text-align: center;
    }

    .mdl-card__supporting-text {
        width: 100%
    }

    .mdl-card__media:hover .image {
        opacity: 0.9;
    }

    .image {
        transition: 0.4s ease-in-out
    }
</style>


<body>

    <div class="android-more-section">
        @if (@User.IsInRole("Admin"))
        {
            <div class="android-section-title mdl-typography--display-1-color-contrast">Zarządzaj ogłoszeniami</div>
        }
        else
        {
            <div class="android-section-title mdl-typography--display-1-color-contrast">Moje ogłoszenia</div>

        }
        <div class="android-card-container mdl-grid">



            @if (Model.Any())
            {
                foreach (var car in Model)
                {
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__media">
                    <a href="@Url.Action("Details", "Store", new { id = car.CarId })">
                        <img src="@Url.CarIconPath(car.PictureFileName)" class="image">
                    </a>
                </div>
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">@car.CarBrand @car.CarModel</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">@car.PricePer1h PLN /1h</span> <br />
                    <span class="mdl-typography--font-light mdl-typography--subhead">@car.PricePer24h PLN /24h </span> <br />
                    <span class="mdl-typography--font-light mdl-typography--subhead">@car.PricePer1m PLN /miesiąc</span> <br />
                </div>
                <div class="mdl-card__actions">
                    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="@Url.Action("Delete", "Manage", new { carId = car.CarId })">
                        <i class="material-icons">delete</i>
                    </a>
                    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="@Url.Action("AddProduct", "Manage", new { carId = car.CarId })">
                        <i class="material-icons">create</i>
                    </a>
                </div>
            </div>
                }

            }
            else
            {
                <div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
                    Brak ogłoszeń. Chcesz dodać nowe?
                </div>
            }



        </div>
    </div>
</body>