@model JCPCars.Models.ManageCredentialsViewModel
@{
    ViewBag.Title = "Moje konto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <!-- Main Container -->
    <div class="container mt-5 pt-3">
        <div class="row pt-4">
            <!-- Content -->
            <div>
                <section class="section pt-4">
                    <div class="row">
                        <style>
                            .demo-card-wide.mdl-card {
                                width: 100%;
                                margin-bottom: 50px;
                            }

                            .demo-card-wide > .mdl-card__title {
                                color: #000;
                                background: url('../assets/demos/welcome_card.jpg') center / cover;
                            }

                            .demo-card-wide > .mdl-card__menu {
                                color: #fff;
                            }

                            .mdl-card__actions {
                                text-align: center;
                            }

                            .mdl-card__supporting-text {
                                width: 100%
                            }
                        </style>


                        @using (@Html.BeginForm("ChangeProfile", "Manage"))
                        {
                            @Html.AntiForgeryToken()
                            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Zmiana danych</h2>
                                </div>
                                <div class="mdl-card__supporting-text">

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.UserData.FirstName, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.UserData.FirstName, "Imię:")</label>
                                        @Html.ValidationMessageFor(o => o.UserData.FirstName)
                                    </div>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.UserData.LastName, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.UserData.LastName, "Nazwisko:")</label>
                                        @Html.ValidationMessageFor(o => o.UserData.LastName)
                                    </div>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.UserData.Address, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.UserData.Address, "Ulica, numer domu/mieszkania:")</label>
                                        @Html.ValidationMessageFor(o => o.UserData.Address)
                                    </div>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.UserData.AddressCity, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.UserData.AddressCity, "Miasto:")</label>
                                        @Html.ValidationMessageFor(o => o.UserData.AddressCity)
                                    </div>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.UserData.CityCode, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.UserData.CityCode, "Kod pocztowy:")</label>
                                        @Html.ValidationMessageFor(o => o.UserData.CityCode)
                                    </div>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.UserData.PhoneNumber, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.UserData.PhoneNumber, "Numer telefonu:")</label>
                                        @Html.ValidationMessageFor(o => o.UserData.PhoneNumber)
                                    </div>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(o => o.UserData.Email, new { @class = "mdl-textfield__input" })
                                        <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.UserData.Email, "Adres e-mail:")</label>
                                        @Html.ValidationMessageFor(o => o.UserData.Email)
                                    </div>


                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    @*<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
                                            Potwierdź
                                        </a>*@
                                    <input type="submit" value="Zapisz zmiany" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" />
                                </div>
                            </div>
                        }

                        <div class="demo-card-wide mdl-card mdl-shadow--2dp">

                            @if (Model.HasPassword)
                            {
                                using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()






                                    <div class="mdl-card__title">
                                        <h2 class="mdl-card__title-text">Zmiana hasła</h2>
                                    </div>


                                    <div class="mdl-card__supporting-text" style="text-align:center">


                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(o => o.ChangePasswordViewModel.OldPassword, new { @class = "mdl-textfield__input" })
                                            <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.ChangePasswordViewModel.OldPassword, "Stare hasło:")</label>
                                            @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.OldPassword)
                                        </div>
                                        <br />
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(o => o.ChangePasswordViewModel.NewPassword, new { @class = "mdl-textfield__input" })
                                            <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.ChangePasswordViewModel.NewPassword, "Nowe hasło:")</label>
                                            @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.NewPassword)
                                        </div>
                                        <br />
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(o => o.ChangePasswordViewModel.ConfirmPassword, new { @class = "mdl-textfield__input" })
                                            <label class="mdl-textfield__label" for="sample3">@Html.LabelFor(o => o.ChangePasswordViewModel.ConfirmPassword, "Potwierdź hasło:")</label>
                                            @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.ConfirmPassword)
                                        </div>
                                    </div>

                                    if (Model.Message.HasValue)
                                    {
                                        <div class="mdl-card__supporting-text">
                                            <center>
                                                @switch (Model.Message)
                                                {
                                                    case JCPCars.Controllers.ManageController.ManageMessageId.ChangePasswordSuccess:
                                                        @: Hasło zmienione pomyślnie!
                                                        break;
                                                    case JCPCars.Controllers.ManageController.ManageMessageId.SetPasswordSuccess:
                                                        @: Hasło dodane pomyślnie!
                                                        break;
                                                    case JCPCars.Controllers.ManageController.ManageMessageId.Error:
                                                        @: Wystąpił błąd
                                                        break;
                                                }
                                            </center>
                                        </div>
                                    }
                                    <div class="mdl-card__actions mdl-card--border">
                                        <input type="submit" value="Zmień" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" />


                                    </div>

                                }
                            }
                        </div>


                        @if (Model.CurrentLogins.Count > 0)
                        {
                            <div class="demo-card-wide mdl-card mdl-shadow--2dp">


                                @foreach (var account in Model.CurrentLogins)
                                {

                                    <div class="mdl-card__title">
                                        <h2 class="mdl-card__title-text">Podłączone serwisy zewnętrzne</h2>
                                    </div>

                                    <div class="mdl-card__supporting-text" style="text-align:center">
                                        Twoje konto jest połączone z serwisem @account.LoginProvider
                                        @if (Model.ShowRemoveButton)
                                        {
                                            using (Html.BeginForm("RemoveLogin", "Manage"))
                                            {
                                                @Html.AntiForgeryToken()
                                        <div>
                                            &nbsp;
                                            @Html.Hidden("loginProvider", account.LoginProvider)
                                            @Html.Hidden("providerKey", account.ProviderKey)
                                            <input type="submit" class="mdl-button" value="usuń powiązane konto @account.LoginProvider" title="Usuń powiązane konto @account.LoginProvider " />
                                        </div>
                                            }
                                        }
                                        else
                                        {
                                            @: &nbsp;
                                        }
                                    </div>
                                }


                            </div>
                        }

                        @if (Model.OtherLogins.Count > 0)
                        {
                            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                                @using (Html.BeginForm("LinkLogin", "Manage"))
                                {
                                    @Html.AntiForgeryToken()


                                    <div class="mdl-card__title">
                                        <h2 class="mdl-card__title-text">Inne metody logowania</h2>
                                    </div>
                                    <div class="mdl-card__supporting-text" style="text-align:center">
                                        @foreach (Microsoft.Owin.Security.AuthenticationDescription p in Model.OtherLogins)
                                        {
                                            <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="height: 50px;" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="log in using your @p.Caption account">@string.Format("Dodaj logowanie przy pomocy usługi {0}", @p.AuthenticationType)</button>
                                        }
                                    </div>


                                }
                            </div>
                        }

                    </div>
                </section>

            </div>
            <!-- /.Content -->

        </div>

    </div>
    <!-- /.Main Container -->
</body>


@section ScriptsBottom
        {
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/popper.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/mdb.min.js"></script>

        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
}
