@model IEnumerable<JCPCars.Models.Car>
@using JCPCars.Infrastructure

@foreach (var car in Model)
{


    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card card-ecommerce">
            <div class="view overlay">
                    <img src="@Url.CarIconPath(car.PictureFileName)" class="img-fluid" alt="">

                <a href="@Url.Action("Details", "Store", new { id = car.CarId })">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="mdl-card__title" >
                <h4 class="mdl-card__title-text">@car.CarBrand @car.CarModel</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">@car.Price PLN</span>
            </div>
        </div>
    </div>

}