@model JCPCars.Models.Car
@using JCPCars.Infrastructure
@{
    ViewBag.Title = Model.CarBrand + " " + Model.CarModel;
}
<div id="productlist-content">

    @Html.Action("SeriesMenu")  

    <div id="productlist-rightsection">
        <div id="breadcrumb-section">
            <img src="@Url.Content("~/Content/Images/home-small.png")" />
            @Html.MvcSiteMap().SiteMapPath()
        </div>


        <section id="product-details-section">
            <div id="product-details-left">
                <img src="@Url.CarIconPath(Model.PictureFileName)" />
            </div>

            <div id="product-details-right">
                <div id="product-details-names">

                    <h1>
                        @Model.CarModel
                    </h1>

                    <h2>

                        @Model.CarBrand
                    </h2>

                </div>

                <div id="product-details-price">
                    <div>
                        @String.Format("{0:0.##}", Model.Price)<span>PLN /24h</span>
                    </div>
                    <a href="addtocart"></a>
                </div>

                <div id="product-details-description">
                    @Model.Description
                </div>

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("AddProduct", "Manage", new { carId = Model.CarId })" style="margin-top: 20px; font-weight: bold; display: block;">Edytuj</a>
                }
            </div>

        </section>

    </div>
</div>