@model JCPCars.Models.Car
@using JCPCars.Infrastructure
@{
    ViewBag.Title = Model.CarBrand + " " + Model.CarModel;
}
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function () {
                $("#datepicker").datepicker();
            });
        </script>
    </head>
<body>
    <main class="mt-5 pt-4" style="padding-bottom:100px">
        <div class="container dark-grey-text mt-5">
            <div class="row wow fadeIn">
                <div class="col-md-6 mb-4">
                    <img src="@Url.CarIconPath(Model.PictureFileName)" class="img-fluid" alt="">
                </div>

                <div class="col-md-6 mb-4">
                    <div class="p-4">
                        <p class="lead font-weight-bold">@Model.CarBrand @Model.CarModel</p>

                        <div class="mb-3">
                            <a href="">
                                <span class="badge blue mr-1">@Model.Serie.Name</span>
                            </a>
                            @*<a href="">
                                    <span class="badge red mr-1">IF PROMOTED TODO</span>
                                </a>*@
                        </div>

                        <p class="lead">
                            @*<span class="mr-1">
                                    <del>$200</del>
                                </span>*@
                            <span>@String.Format("{0:0.##}", Model.Price)PLN /24h</span>
                        </p>
                        <p>
                            @Model.Description
                        </p>
                        @*<p>Date: <input type="text" id="datepicker"></p>*@
                        <form class="d-flex justify-content-left" action="@Url.Action("AddToCart", "Cart", new { id = Model.CarId })">
                            @*@Html.TextBoxFor*@
                            @*<input type="text" name="IP" id="IP" />
                            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">*@
                            <button class="btn btn-primary btn-md my-0 p" type="submit">
                                Zamów pojazd
                                <i class="fas fa-shopping-cart ml-1"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            @*<div class="row d-flex justify-content-center wow fadeIn">
                    <div class="col-md-6 text-center">
                        <h4 class="my-4 h4">Additional information</h4>
                        <p>
                            LOREM
                        </p>

                    </div>
                </div>*@
            @*<div class="row wow fadeIn">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">
                    </div>
                </div>*@
        </div>
    </main>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    @*<script type="text/javascript" src="~/Content/js/jquery-3.4.1.min.js"></script>*@
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Content/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();

    </script>
</body>
